@model Soundbox.Models.Song

@{
    ViewData["Title"] = "Edit";
}

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Song</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Album" class="control-label"></label>
                                <input asp-for="Album" class="form-control" />
                                <span asp-validation-for="Artist" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ReleaseYear" class="control-label"></label>
                                <input asp-for="ReleaseYear" class="form-control" />
                                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save changes" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}