@model IEnumerable<Soundbox.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

    <div class="sideBar">
        <h2 id="pageTitle">Artists:</h2>
        <hr />
        <div id="albumBox">
            <i id="albumIcon" class="fa fa-music fa-5x"></i>
        </div>
        <hr />
        <a asp-action="Create" class="btn btn-success">Add new artist</a>
    </div>
<div class="pageContent">
    @(Html.Kendo().Grid(Model).Name("ArtistsGrid").Columns(c =>
    {
        c.Bound(a => a.Name);
        c.Bound(a => a.Age);
        c.Bound(a => a.NetWorth);
        c.Bound(a => a.Retired);
        c.Bound(a => a.Email);
        c.Bound(a => a.PhoneNumber);
    })
        .DataSource(d => d 
            .Ajax()
            .ServerOperation(false)
        )
        .Pageable()
        .Sortable()
        .Filterable()
        .Groupable())
</div>




